@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.info {
    margin: 0 1rem 1rem 1rem;

    @include tablet {
        margin: 0 1.5rem;
    }

    @include desktop {
        padding-top: 1.5rem;
        @include contain;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 0.75rem;
    }

    &__details {
        display: flex;
        font-size: 0.8125rem;
        line-height: 1.125rem;
        font-weight: 400;
        align-items: center;
        border-top: 2px solid $secondary-outline;
        border-bottom: 2px solid $secondary-outline;
        padding: 1rem 0;

        @include tablet {
            justify-content: space-between;
            border-top: none;
            padding: 0 0 0.5rem 0;
            margin-bottom: 1.5rem;
        }

        @include desktop {
            padding-right: 1.5rem;
        }
    }

    &__divider {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;

        @include tablet {
            flex-direction: row;
            flex-basis: content;
            align-items: center;
        }
    }

    &__description {
        @include desktop {
            padding-right: 1.5rem;
        }
    }

    &__channel {
        padding-bottom: 0.5rem;

        @include tablet {
            font-size: 0.875rem;
            line-height: 1.375rem;
            padding-bottom: 0;
            padding-right: 1rem;
        }
    }

    &__timestamp {
        color: $primary-label;
    }

    &__icon {
        display: inline-block;
        color: $primary-label;
        height: 1rem;
        width: 1rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    &__icon--views {
        background-image: url(../../assets/icons/views.svg);
    }

    &__icon--likes {
        background-image: url(../../assets/icons/likes.svg);
    }

    &__views {
        padding-bottom: 0.5rem;
        color: $primary-label;

        @include tablet {
            padding-bottom: 0;
            padding-right: 1.5rem;
        }
    }

    &__likes {
        color: $primary-label;
    }

    &__stat {
        display: flex;
        align-items: flex-start;
    }
}