//primary colors
$primary-text: #323232;
$primary-CTA: #0095FF;
$primary-label: #AFAFAF;
$primary-bg: #FFFFFF;

//secondary colors
$secondary-video: #000000;
$secondary-CTA: #0065AD;
$secondary-outline: #E1E1E1;
$secondary-bg: #FAFAFA;