//primary colors
$primary-dark: #323232;
$primary-accent: #0095FF;
$primary-grey: #AFAFAF;
$primary-light: #FFFFFF;

//secondary colors
$secondary-dark: #000000;
$secondary-accent: #0065AD;
$secondary-grey: #E1E1E1;
$secondary-light: #FAFAFA;