@use "breakpoints" as *;
@use "colors" as *;

//media query mixins
@mixin tablet {
    @media (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $breakpoint-desktop) {
        @content;
    }
}

@mixin contain {
    @media (min-width: $breakpoint-desktop) {
        max-width: 63.75rem;
        margin: 0 auto;
    }
}

@mixin button {
    background-color: $primary-accent;
    color: $primary-light;
    width: 100%;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    height: 2.5rem;

    @include tablet {
        width: 9.375rem;
    }
}