@use "breakpoints" as *;
@use "colors" as *;
@use "../../styles/partials/fonts" as *;

//media query mixins
@mixin tablet {
    @media (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $breakpoint-desktop) {
        @content;
    }
}

@mixin contain {
    @media (min-width: $breakpoint-desktop) {
        max-width: 63.75rem;
        margin: 0 auto;
    }
}


@mixin button {
    background-color: $primary-accent;
    color: $primary-light;
    width: 100%;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    height: 2.5rem;
    cursor: pointer;

    @include tablet {
        width: 9.375rem;
    }
}

@mixin avatar {

    background-color: $secondary-grey;
    object-fit: cover;
    object-position: left;
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;

    @include tablet {
        height: 2.5rem;
        width: 2.5rem;
    }
}

@mixin inputIconPosition {
    background-position: 0.3rem 0.6rem;
    background-repeat: no-repeat;
    background-size: 20px;
}

@mixin label {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: $primary-grey;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

@mixin inputText {
    border-radius: 4px;
    border: none;
    outline: solid 2px $secondary-grey;
    background-color: $secondary-light;
    color: $primary-dark;
    height: 2.25rem;
}

@mixin inputTextbox {
    border: none;
    outline: solid 2px $secondary-grey;
    background-color: $secondary-light;
    padding: 0.75rem;
    height: 6rem;
    font-family: $font-stack;
    border-radius: 4px;
    width: 100%;
    resize: none;
}

@mixin link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.75rem;
    color: $primary-accent;
    font-weight: 700;
}

@mixin linkButton {
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.83rem;
}