@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.comments-header {
    padding-bottom: 1rem;
    border-bottom: 2px solid $secondary-outline;

    @include desktop {
        border-bottom: none;
    }

    &__header {
        margin-top: 1rem;
        display: flex;
    }

    &__heading {
        @include label;
    }

    &__image {

        margin: 1.5rem 1rem 0 0;
        @include avatar;
    }

    &__div {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include desktop {
            padding-right: 1.5rem;
        }
    }

    &__form {
        @include tablet {
            display: flex;
        }
    }

    &__input {
        @include inputTextbox;
        margin: 0 0 1rem 0;
        width: 100%;

        @include tablet {
            height: 2.5rem;
            margin-right: 1.5rem;
        }
    }

    &__input::placeholder {
        color: $secondary-video;
    }

    &__input:focus {
        outline: 2px solid $primary-CTA;
    }

    &__input--invalid {
        @include inputTextbox;
        width: 100%;
        outline: 2px solid red;

        @include tablet {
            height: 2.5rem;
            margin-right: 1.5rem;
        }
    }

    &__button {
        min-width: 9.3rem;
        background-image: url(../../assets/icons/add_comment.svg);
        @include inputIconPosition;
        @include button;
    }

    &button:hover {
        background-color: $secondary-CTA;
    }
}