@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.comment {
    display: flex;
    border-bottom: 2px solid $secondary-outline;

    @include tablet {
        padding: 0.5rem 0;
    }

    @include desktop {
        @include contain;
        border-bottom: none;
        border-top: 2px solid $secondary-outline;
        padding-bottom: 1rem;
    }

    &__image {
        @include avatar;
        padding: 1rem;
        margin: 1rem 1rem 0 0;
    }

    &__div {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        @include tablet {
            width: 100%;
        }

        @include desktop {
            margin: 0;
            padding-right: 1.5rem;
        }
    }

    &__heading {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }

    &__date {
        color: $primary-label;
        font-size: 0.8125rem;
        line-height: 1.125rem;
        font-weight: 400;
    }

    &__text {
        margin: 0.5rem 0 0 0;
    }
}