@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.comment {

    display: flex;

    border-bottom: 2px solid $secondary-grey;

    @include tablet {
        padding: 0.5rem 0;
    }

    @include desktop {
        @include contain;
    }

    &__image {
        @include avatar;
        padding: 1rem;
        margin: 1rem 1rem 0 0;
    }

    &__div {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        @include tablet {
            width: 100%;
        }
    }

    &__heading {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }

    &__date {
        color: $primary-grey;
        font-size: 0.8125rem;
        line-height: 1.125rem;
        font-weight: 400;
    }

    &__text {
        margin: 0.5rem 0 0 0;


    }
}