@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.next-video {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    color: $primary-text;
    text-decoration: none;
    cursor: pointer;

    @include tablet {
        margin: 1.5rem 0;
    }

    @include desktop {
        margin: 1.5rem 0 0 1.5rem;
    }

    &__image {
        background-color: $secondary-outline;
        border-radius: 4px;
        margin-right: 1rem;
        min-width: 6rem;
        height: 4rem;
        width: 6rem;
    }

    &__content {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-basis: 25%;
        }

        @include desktop {
            flex-basis: auto;
        }
    }

    &__title {
        margin-bottom: 0.5rem;
    }

    &__channel {
        font-size: 0.8125rem;
    }
}