@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.upload {
    padding: 0 1rem;

    @include tablet {
        padding: 0 1.5rem;
    }

    @include desktop {
        padding: 0;
        @include contain;
    }

    &__title {
        @include tablet {
            padding-bottom: 1.5rem;
            border-bottom: 2px solid $secondary-grey;
        }
    }

    &__subheading {
        @include label;
        margin-top: 1rem;
    }

    &__form {
        @include desktop {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }

    &__container {
        @include desktop {
            display: flex;
            border-bottom: 2px solid $secondary-grey;
        }
    }

    &__media {
        display: flex;
        flex-direction: column;
    }

    &__image {
        width: 100%;
        border-radius: 4px;
        background-color: $secondary-grey;

        @include desktop {
            width: 20rem;
            object-fit: contain;
            margin-right: 1.5rem;
        }
    }

    &__content {
        width: 100%;
    }

    &__formfields {
        display: flex;
        flex-direction: column;

        @include tablet {

            padding-bottom: 1.5rem;
            border-bottom: 2px solid $secondary-grey;
        }

        @include desktop {
            border-bottom: 0;
        }
    }

    &__input--title {
        padding-left: 0.75rem;
        @include inputText;
    }

    &__input--title::placeholder {
        color: $secondary-dark;
    }

    &__input--description {
        @include inputTextbox;
    }

    &__input--description::placeholder {
        color: $secondary-dark;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
            flex-direction: row-reverse;
            align-items: flex-start;
        }
    }

    &__button {
        margin-top: 1.5rem;
        @include button;
        background-image: url(../../assets/icons/publish.svg);
        @include inputIconPosition;

        @include tablet {
            width: 9.25rem;
        }
    }

    &__button:hover {
        background-color: $secondary-accent;
    }


    &__link {
        @include link;
        color: $primary-accent;
        margin-bottom: 0.5rem;
        padding: 2rem 0;

        @include tablet {
            flex-basis: 20%;
        }
    }
}

.banner--hide {
    display: none
}