@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.header {
    border-bottom: 2px solid $secondary-outline;

    &__container {
        margin: 1rem 1rem 0 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
            margin: 0 1.5rem;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        @include desktop {
            display: flex;
            align-items: center;
            @include contain;
        }
    }

    &__link {
        height: 1.5rem;
        width: 7.5rem;
    }

    &__form {
        width: 100%;

        @include tablet {
            display: flex;
            align-items: center;
            justify-content: right;
        }
    }

    &__div {
        display: flex;
        width: 100%;
        margin: 1rem 0;


        @include tablet {
            flex-basis: 60%;
        }

        @include desktop {
            flex-basis: 25%;
        }
    }

    &__input {
        margin-right: 1rem;
        width: 100%;
        padding-left: 2rem;
        background-image: url(../../assets/icons/search.svg);
        @include inputText;
        @include inputIconPosition;

        @include tablet {
            height: 2.5rem;
            margin: 0;
            width: 100%;
        }
    }

    &__input::placeholder {
        color: $secondary-video;
    }

    &__input:focus {
        outline: 2px solid $primary-CTA;
    }

    &__button {
        margin: 0 1.5rem 1rem 1.5rem;
        background-image: url(../../assets/icons/upload.svg);
        color: $primary-bg;
        @include linkButton;
        @include button;
        @include inputIconPosition;

        @include tablet {
            margin-bottom: 0rem;
            width: 148px;
            padding: 0 3rem;
        }
    }

    &__button:hover {
        background-color: $secondary-CTA;
    }


    &__image {
        @include avatar;
    }

    &__image--mobile {
        @include tablet {
            display: none;
        }
    }

    &__image--tablet {
        display: none;

        @include tablet {
            display: inline-block;
            justify-self: flex-end;
        }
    }
}