@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.video {
    width: 100%;
    background-color: $secondary-video;

    @include tablet {
        height: 24rem;
    }

    @include desktop {
        height: 29rem;
    }

    &__container {

        @include tablet {
            height: 24rem;
        }

        @include desktop {
            @include contain;
            height: 29rem;

        }
    }

    &__viewport {
        padding: 0;
        margin: 0;
        width: 100%;
        aspect-ratio: 16/9;

        @include tablet {
            height: 24rem;
            padding: 0 1.5rem;
        }

        @include desktop {
            padding: 0 4rem;
            height: 29rem;
        }
    }

}