@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.video {
    width: 100%;
    background-color: $secondary-dark;

    &__container {
        @include desktop {
            @include contain;
            max-height: 31.25rem;
        }
    }

    &__viewport {
        padding: 0;
        margin: 0;
        width: 100%;
        aspect-ratio: 16/9;

        @include tablet {
            padding: 0 1.5rem;
        }

        @include desktop {
            max-height: 31.25rem;
            padding: 0 4rem;
        }
    }

}