@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;


.comments {
    margin: 0 1rem;
    padding-bottom: 1rem;

    @include tablet {
        margin-top: 2rem;
    }

    @include desktop {
        @include contain;
    }
}