@use "./styles/partials/fonts" as *;
@use "./styles/partials/typography" as *;
@use "./styles/partials/colors" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-stack;
    color: $primary-text;
    width: 100%;
    margin: 0;
}

h2 {
    margin: 0;
}