@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;


.banner {

    background-color: $primary-bg;
    border-bottom: 2px solid $secondary-outline;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;

    @include tablet {
        padding: 1rem 1.5rem;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        @include desktop {
            @include contain;
        }
    }

    &__link {
        padding: 0.5rem 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        @include tablet {
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }
    }

    &__text {
        @include link;
        padding: 1rem 0;

        @include tablet {
            padding: 0;
            margin-right: 1.5rem;
        }
    }

    &__button {
        @include button;
        @include linkButton;
        position: relative;

        @include tablet {
            margin-bottom: 0;
        }
    }

    &__button::before {
        content: "";
        background-image: url(../../assets/icons/publish.svg);
        background-repeat: none;

        height: 1rem;
        width: 1.5rem;
        position: absolute;
        transform: rotate(270deg);
        left: 0.1rem;
    }

    &__button:hover {
        background-color: $secondary-CTA;
    }
}